@font-face {
    font-family: opensanslight;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face{
	font-family: opensanslightitalic;
	src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face{
	font-family: opensansbold;
	src: url(../fonts/OpenSans-Bold);
}
@font-face{
	font-family: opensansbolditalic;
	src: url(../fonts/OpenSans-BoldItalic.ttf);
}

body{
	font-size: 16px;
	color: #ffffff;
	background: #000000;
	font-family: 'opensanslight';
}
footer{
	color:#c2c2c2;
	bottom: 0;
}